<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin_css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin_css/main.css">
    <link rel="stylesheet" href="../../static/admin_css/jquery.pagination.css">
    <script type="text/javascript" src="../../static/admin_js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/admin_js/jquery.pagination.min.js"></script>
</head>
<body>
<div class="breadcrub">
    当前位置：病毒数据管理>病毒数据版式编辑
    <form class="news_filter_form">
        <input type="text" placeholder="请输入关键字" class="input_txt" name="keywords">
        <input type="submit" value="搜 索" class="input_sub">
    </form>
</div>


<div class="pannel">
    <table class="common_table">
        <tr>
            <th>id</th>
            <th>标题</th>
            <th>发布时间</th>
            <th>编辑操作</th>
            <th>删除操作</th>
        </tr>

        {# 遍历病毒数据 #}
        {% for virus in data.virus_list %}
            <tr>
                <td>{{ virus.id }}</td>
                <td class="tleft">{{ virus.title }}</td>
                <td>{{ virus.create_time }}</td>
                <td><a href="/admin/virus_edit_detail?virus_id={{ virus.id }}" class="edit">编辑</a></td>
                <td><a href="/admin/virus_edit_delete?virus_id={{ virus.id }}" class="edit">删除</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="box">
    <div id="pagination" class="page"></div>
</div>

<script>
    $(function () {
        $("#pagination").pagination({
            currentPage: {{ data.currentPage }},
            totalPage: {{ data.totalPage }},
            callback: function (current) {
                {#alert('ok!');#}
                window.location.href = "/admin/virus_edit?p=" + current;
            }
        });
    });
</script>

</body>
</html>